<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.anybuy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.HomeActivity" />
        <activity
            android:name=".Activities.BuyActivity"
            android:parentActivityName=".Activities.HomeActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.HomeActivity" />
        </activity>
        <activity
            android:name=".Activities.SellActivity"
            android:parentActivityName=".Activities.HomeActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.HomeActivity" />
        </activity>
        <activity
            android:name=".Activities.ProfileActivity"
            android:parentActivityName=".Activities.HomeActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.HomeActivity" />
        </activity>
        <activity
            android:name=".Activities.RegisterActivity"
            android:parentActivityName=".Activities.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.OrdersActivity"
            android:parentActivityName=".Activities.ProfileActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.ProfileActivity" />
        </activity>
        <activity
            android:name=".Activities.PaymentActivity"
            android:parentActivityName=".Activities.ProfileActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.ProfileActivity" />
        </activity>
        <activity
            android:name=".Activities.AddressActivity"
            android:parentActivityName=".Activities.ProfileActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.ProfileActivity" />
        </activity>
        <activity
            android:name=".Activities.AddressAddActivity"
            android:parentActivityName=".Activities.AddressActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.AddressActivity" />
        </activity>
        <activity
            android:name=".Activities.DeleteAddress"
            android:parentActivityName=".Activities.AddressActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.AddressActivity" />
        </activity>
        <activity
            android:name=".Activities.PaymentAddActivity"
            android:parentActivityName=".Activities.PaymentActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.PaymentActivity" />
        </activity>
        <activity
            android:name=".Activities.PaymentDelete"
            android:parentActivityName=".Activities.PaymentActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.PaymentActivity" />
        </activity>
        <activity android:name=".Activities.OrderHistoryActivity"></activity>
    </application>

</manifest>